PROJECT_ROOT=C:\Users\Acer\OneDrive\Desktop\WhatsApp-Notification-Router
DATASET_DIR=C:\Users\Acer\OneDrive\Desktop\WhatsApp-Notification-Router\hackerrank-orchestrate-august26\dataset
OPENAI_API_KEY=
